footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #282828;
  z-index: 10;
  padding: 0 10px;
}


/* SEZIONE SINISTRA (TITOLO CANZONE) */
  .song{
    width: 210px;
    flex-shrink: 0;
    display: flex;
  }

  .song .song-cover{
    margin-right: 10px;
  }

  .song-cover img{
    width: 40px;
    transition: all 0.2s linear;
  }

  .song-cover img:hover{
    transform: scale(1.2);
  }

  .song .song-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .song-content .sottotitolo:hover{
    text-decoration: underline;
    color: white;
  }

  .song-content .song-action i{
    margin-left: 10px;
    color: #7E8085;
  }

  .song-action i:hover{
    color: white;
  }
/* /SEZIONE SINISTRA */


/* SEZIONE CENTRALE (PLAYER) */
  .music-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding-top: 10px;
  }

  .music-player .music-action{
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  .music-action a .fa-solid {
    font-size: 20px;
    color: white;
  }

  .music-action a .fa-regular {
    font-size: 30px;
    color: white;
  }

  .music-action a .fa-regular:hover {
    transform: scale(1.2);
  }

  .music-player .music-time{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bar{
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 5px;
  }

  .progress.bar{
    width: 650px;
    min-width: 150px;
  }

  .little.bar{
    width: 20%;
    background-color: #C1C1C1;
    position: relative;
  }

  .bar-circle{
    position: absolute;
    top: -5px;
    right: -5px;
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
  }

  .progress.bar .little.bar:hover{
    background-color: #BCF55A;
  }

  .progress.bar .little.bar:hover .bar-circle{
    display: inline-block;
  }

  .timer{
    font-weight: bold;
    margin: 0 20px;
  }
/* /SEZIONE CENTRALE (PLAYER) */

/* SEZIONE DESTRA (GESTIONE AUDIO) */
  .manage-audio{
    width: 240px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .manage-audio a i{
    color: white;
  }

  .manage-audio .audio.bar{
    width: 60%;
  }

  .little-audio.bar{
    width: 20%;
    background-color: #C1C1C1;
    position: relative;
  }

  .audio.bar .little-audio.bar:hover{
    background-color: #BCF55A;
  }

  .audio.bar .little-audio.bar:hover .bar-circle{
    display: inline-block;
  }
/* /SEZIONE DESTRA (GESTIONE AUDIO) */