*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #7E8085;
}

h2{
  margin: 5px 0;
}

.active{
  border-left: 3px solid #91C827;
  color: white;
}

a:hover{
  color: white;
  filter: brightness(2);
}