header{
  position: fixed;
  width: calc(100% - 230px);
  top: 0;
  right: 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 25px;
  height: 90px;
  z-index: 999;
}

header button.call-to-action{
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

header button.call-to-action:hover{
  transform: scale(1.1);
}