main{
  height: calc(100vh - 100px);
  background-color: #141922;
  display: flex;
}


/* MENÙ LATERALE */


  section#aside-menù{
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: black;
    height: 100%;
    padding-top: 18px;
    flex-shrink: 0;
  }

  #aside-menù .logo{
    height: 78px;
    flex-shrink: 0;
    padding-left: 20px;
  }

  #aside-menù .logo img{
    width: 150px;
  }

  /* NAVIGAZIONE CATEGORIE */
      #aside-menù .navigate{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
      }

      .navigate a{
        padding: 5px 0 5px 20px;
      }

      .navigate a:nth-child(1n + 2){
        border-left: 3px solid black;
      }

      #aside-menù .navigate a:hover{
        border-left: 3px solid #91C827;
      }

      #aside-menù .navigate a img{
        width: 25px;
        vertical-align: middle;
      }
  /* NAVIGAZIONE CATEGORIE */


  /* PLAYLIST */
      #aside-menù .playlist{
        height: 100vh;
        min-height: 208px;
        padding-top: 20px;
        overflow-y: auto;
        padding-left: 20px;
      }

      #aside-menù .playlist ul li a{
        font-weight: bold;
      }

      #aside-menù .playlist ul li a:hover{
        filter: brightness(2);
      }

      #aside-menù .playlist ul li:first-child{
        padding-top: 10px;
      }

      #aside-menù .playlist ul li:nth-child(1n + 2){
        padding-top: 20px;
      }

      #aside-menù .playlist i{
        background-color: #969696;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: black;
        margin-right: 5px;
      }
  /* PLAYLIST */

  /* PROFILO UTENTE*/
      #aside-menù .profile{
        height: 75px;
        flex-shrink: 0;
        padding-left: 20px;
      }

      #aside-menù .profile i{
        font-size: 12px;
        margin-right: 5px;
      }

      #aside-menù .profile hr{
        margin: 10px 0;
      }

      #aside-menù .profile img{
        width: 25px;
        height: 25px;
        border-radius: 50px;
        background-color: #7F7F7F;
        vertical-align: middle;
        margin-right: 5px;
      }

      #aside-menù .profile .user{
        font-weight: bold;
      }
  /* PROFILO UTENTE*/


/* /MENÙ LATERALE */


/* PLAYER CONTENT */
  #player-content{
    padding: 90px 20px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
  }

  #player-content > div{
    margin: 25px 0;
  }

  #player-content h4{
    margin: 10px 0;
  }

  /* BARRA DI NAVIGAZIONE */
      #player-content .navigation{
        margin-bottom: 10px;
      }

      #player-content .navigation nav ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      #player-content .navigation nav ul a{
        padding-right: 30px;
        font-size: 13px;
      }
  /* BARRA DI NAVIGAZIONE */


  /* ASCOLTI RECENTI */
      #player-content .card-container{
        display: flex;
        flex-wrap: wrap;
      }
      
      #player-content .card-container .card{
        width: calc(100% / 6 - 15px);
        text-align: center;
        min-width: 129px;
      }

      #player-content .card-container .card-cover{
        position: relative;
      }

      #player-content div.card-container > div.card{
        margin-right: 15px;
      }

      #player-content .card-container .card img{
        width: 100%;
      }

      #player-content .card-container .card .play-hover{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
      }

      #player-content .card-container .card-cover:hover img{
        filter: brightness(0.5);
      }

      #player-content .card-container .card-cover:hover .play-hover{
        display: inline-block;
      }
  /* /ASCOLTI RECENTI */

  
  /* ARTISTI PIÙ POPOLARI */
      #player-content .card-container .card.circle img{
        border-radius: 50%;
      }
  /* /ARTISTI PIÙ POPOLARI */

/* /PLAYER CONTENT */