main{
  height: calc(100vh - 100px);
  background-color: #141922;
  display: flex;
}


/* MENÙ LATERALE */

  #side-menù{
    display: flex;
    flex-direction: column;
    width: 230px;
    background-color: black;
    height: 100%;
    padding-top: 18px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .logo{
    height: 71px;
    flex-shrink: 0;
    padding: 0 20px
  }

  .logo img{
    width: 150px;
  }

  .logo-small{
    display: none;
  }

  /* NAVIGAZIONE CATEGORIE */
      #side-menù .category{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
      }

      .category a{
        padding: 5px 20px 5px 20px;
      }

      .category a{
        border-left: 3px solid transparent;
      }

      .category a.active{
        border-left: 3px solid #91C827;
        color: white;
      }
      
      .category a:hover{
        border-left: 3px solid #91C827;
      }

      .category a img{
        width: 25px;
        vertical-align: middle;
      }
  /* NAVIGAZIONE CATEGORIE */


  /* PLAYLIST */
      #side-menù .playlist{
        flex-grow: 1;
        min-height: 205px;
        padding: 0 20px;
      }

      #side-menù h5{
        margin: 20px 0 10px 0;
      }
      
      .fa-solid.fa-plus{
        background-color: #969696;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: black;
        margin-right: 5px;
      }

      .playlist ul{
        overflow-y: auto;
        height: 80%;
        font-weight: bold;
      }

      .playlist ul li{
        margin-top: 20px;
      }
      
      .playlist ul li a{
        font-weight: bold;
      }
      
      .playlist ul li a:hover{
        filter: brightness(2);
      }
  /* PLAYLIST */

  /* PROFILO UTENTE*/
      #side-menù .profile{
        flex-shrink: 0;
        padding: 0 20px 5px 20px;
        background-color: black;
      }

      .profile i{
        font-size: 12px;
        margin-right: 5px;
      }

      .profile hr{
        margin: 10px 0;
      }

      .profile img{
        width: 25px;
        height: 25px;
        border-radius: 50px;
        background-color: #7F7F7F;
        vertical-align: middle;
        margin-right: 5px;
      }

      .profile .user{
        font-weight: bold;
      }
  /* PROFILO UTENTE*/


/* /MENÙ LATERALE */


/* PLAYER CONTENT */
  #player-content{
    padding: 90px 20px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  #player-content > div{
    margin: 20px 0;
  }

  #player-content h4{
    margin: 10px 0;
  }

  /* BARRA DI NAVIGAZIONE */
      #player-content .nav-bar{
        margin-bottom: 10px;
      }

      .nav-bar nav ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .nav-bar nav ul li{
        margin-right: 30px;
      }

      .nav-bar nav ul a{
        font-size: 13px;
        font-weight: bold;
      }

      .nav-bar .active-little{
        background-color: #91C827;
        height: 3px;
        width: 40%;
        margin: 0 auto;
      }
  /* BARRA DI NAVIGAZIONE */


  /* ASCOLTI RECENTI */
      #player-content .card-container{
        display: flex;
        flex-wrap: wrap;
      }
      
      .card-container .card{
        width: calc(100% / 6 - 10px);
        text-align: center;
      }

      .card-container .card-cover{
        position: relative;
      }

      .card-cover a{
        color: white;
      }

      .card-container > div.card{
        margin-right: 10px;
      }

      .card-container .card img{
        width: 100%;
      }

      .card-container .card .play-hover{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
      }

      .card-container .card-cover:hover img{
        filter: brightness(0.5);
      }

      .card-container .card-cover:hover .play-hover{
        display: inline-block;
      }
  /* /ASCOLTI RECENTI */

  
  /* ARTISTI PIÙ POPOLARI */
      .card-container .card.circle img{
        border-radius: 50%;
      }
  /* /ARTISTI PIÙ POPOLARI */

/* /PLAYER CONTENT */