@media screen and (max-width: 978px){

  /* MAIN PLAYER CONTENT */
    .card-container .card{
      width: calc(100% / 4 - 10px);
    }

    .nav-bar nav ul li{
      margin-bottom: 10px;
    }
  /* /MAIN PLAYER CONTENT */
  
}

@media screen and (max-width: 739px){

  /* HEADER */
    header{
      width: calc(100% - 200px);
    }
  /* /HEADER */

  /* MAIN MENÙ LATERALE */
    #side-menù{
      width: 200px;
    }
  /* /MAIN MENÙ LATERALE */
  

  /* MAIN PLAYER CONTENT */
    #player-content .nav-bar nav ul li{
      margin-right: 10px;
    }
    
    .card-container .card{
      width: calc(100% / 2 - 10px);
    }
  /* /MAIN PLAYER CONTENT */

  /* FOOTER */
    .song{
      width: 147px;
      flex-shrink: 0;
      display: flex;
    }

    .song-cover{
      margin-right: 4px;
    }

    .song-action i{
      margin-left: 0px;
    }

    .sottotitolo{
      font-size: 9px;
    }

    .music-player .music-action{
      width: 150px;
    }

    .timer{
      margin: 0 6px;
      font-size: 11px;
    }

    .progress.bar{
      min-width: 90px;
    }

    .little.bar{
      width: 30%;
    }

    .manage-audio{
      width: 124px;
    }

    .manage-audio .audio.bar{
      width: 50px;
    }
  /* /FOOTER */

}

@media screen and (max-width: 499px){

  /* HEADER */
    header{
      width: calc(100% - 60px);
    }
  /* HEADER */

  /* MAIN MENÙ LATERALE */
  #side-menù{
    width: 60px;
    padding-top: 5px;
  }

    /* LOGO */
        #side-menù .logo-standard{
          display: none;
        }

        .logo{
          height: 40px;
          padding: 0 5px 0 15px
        }
        
        .logo-small{
          display: inline-block;
        }

        .logo img{
          width: 30px;
        }
    /* /LOGO */

    /* NAVIGAZIONE CATEGORIE */
      #side-menù .category{
        flex-grow: 1;
      }

      .category a {
        padding: 5px 0 5px 15px;
      }
    /* /NAVIGAZIONE CATEGORIE */

    /* PLAYLIST */
      .playlist,
      #side-menù h5,
      .add-playlist{
        display: none;
      }
    /* /PLAYLIST */

    /* PROFILE */
      #side-menù span{
        display: none;
      }

      hr{
        display: none;
      }

      .profile{
        height: 60px;
        padding-left: 15px;
      }

      .profile i{
        padding-left: 6px;
        padding-bottom: 10px;
      }
    /* /PROFILE */

  /* /MAIN MENÙ LATERALE */

  /* PLAYER-CONTENT */  
    #player-content{
      padding: 80px 0 0 10px;
    }

    .nav-bar nav ul a{
      padding-right: 10px;
      font-size: 11px;
    }

    #player-content h4{
      margin: 5px 0;
      font-size: 12px;
    }
  /* /PLAYER-CONTENT */

  /* FOOTER */
    .manage-audio{
      width: 110px;
    }
  /* FOOTER */

}